<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" type = "image/ico" href = "../wwwroot/img/favicon.ico">
    <title>QR Invoice</title>
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/toastify.min.css">
</head>
<body>
    <div class="container text-center">
        <img src="../wwwroot/img/Algotech_logo.png" alt="Logo" class="logo">
        <div class="upload-container">
            <div id="loader" hidden>
                <div class="spinner"></div>
                <p>Loading data, please wait...</p>
            </div>            
            <form id="getInvoceDataForm">
                <textarea class="form-control" id="urlInput" placeholder="" autocomplete="off" rows="13" required></textarea>
                <button type="submit" id="urlInputBtn" class="btn btn-primary mt-3" title="Send request and get invoice data" hidden>Get data</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../wwwroot/js/neutralino.js"></script>
    <script type="text/javascript" src="../wwwroot/lib/toastify-js/toastify.js"></script>
    <script type="text/javascript" src="../wwwroot/lib/sheetJS/js/xlsx.full.min.js"></script>
    <script type="text/javascript" src="../wwwroot/lib/sheetJS/js/sheet2blob.js"></script>
    <!-- Your app's source files -->
    <script type="text/javascript" src="../services/main.js"></script>
    <script type="text/javascript" src="../services/qrfiskal.js"></script>
</body>
</html>
